#bottom{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#r1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}
.lcont{
    flex: 0.45;
    min-width: 700px;
}
.l1{
    padding-right: 8%;
}
.l2{
    padding-left: 8%;
}
.minors_img {
    flex:0.4;
    align-self:flex-start;
    
}
.minors_img1 {
    margin-top: 7rem;
    
}
.minors_img img{
    object-fit: fill;
}
.lcont p{
    line-height: 1.5rem;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.04em;
}
.lcont h3{
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    color: #F96508;
    margin-bottom: 1.5rem;
}

#r2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}
.minors_img {
    align-self:flex-start;
    height:40%;
    flex: 0.4;
}

#r2 p{
    text-align: right;
}
#r2 h3{
    text-align: right;
    margin-bottom: 1.5rem;

}
#r3 h3{
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    color: #F96508;
    text-align: center;
    margin-bottom: 1.5rem;

}
#r3 p{
    line-height: 1.5rem;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}
#minors{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.75rem;

    color: #026BA1;
    margin-bottom: 4.5rem;
    /* margin-left: 6.8%; */
}

@media (max-width:700px){
    .minors_img1 {
        margin-top: 0;
        
    }
    .lcont{
        flex:1 !important;
        min-width: 350px;
        text-align: justify;
    }
    .l1, .l2 {
        padding-left: 5%;
        padding-right: 5%;
    }
    #r1{
        flex-direction: column;
    }
    #r2{
        flex-direction: column;
    }
    #r2 p{
        text-align: justify;
    }
    
    #r2 h3{
        text-align: left;

    }
    /* #minors{
        text-align: left;
        margin-left: 3%;
    } */
    .minors_img{
        text-align: center;
        flex: 1;
    }

    .minors_img img{
        width: 90%;
        
    }
    #r3 p{
        text-align: justify;
        padding-left: 5%;
        padding-right: 5%;
    }
    #r3 h3{
        text-align: left;
        padding-left: 5%;
        padding-right: 5%;
    }
   
}
