.Carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.Carousel__Title {
  width: 100%;
  text-align: center;
  margin-bottom: 4rem;
  font-family: Montserrat, sans-serif;
}

.Carousel__Title h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #f96508;
  font-family: inherit;
  line-height: 2.75rem;
}

.Carousel__Title p {
  font-size: 0.875rem;
  font-weight: 500;
}

.slider {
  box-sizing: border-box;
  position: relative;
  width: 90%;
  height: 22rem;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-arrow,
.right-arrow {
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 36.67rem;
  height: 22rem;
  border-radius: 2rem;
  opacity: 0.8;
  overflow: hidden;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.slide.prevImg1 {
  transform: translateX(-80%) scale(0.6);
  z-index: 4;
}

.slide.prevImg2 {
  transform: translateX(-100%) scale(0.5);
  z-index: 3;
}

.slide.prevImg3 {
  transform: translateX(-115%) scale(0.4);
  z-index: 2;
}

.slide.prevImg4 {
  transform: translateX(-125%) scale(0.3);
  z-index: 1;
}

.slide.nextImg1 {
  transform: translateX(-20%) scale(0.6);
  z-index: 4;
}

.slide.nextImg2 {
  transform: translateX(0%) scale(0.5);
  z-index: 3;
}

.slide.nextImg3 {
  transform: translateX(15%) scale(0.4);
  z-index: 2;
}

.slide.nextImg4 {
  transform: translateX(25%) scale(0.3);
  z-index: 1;
}

.slide.active {
  z-index: 5;
  opacity: 1;
  transition-duration: 1s;
  transform: translateX(-50%) scale(0.9);
}

.Img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.img__descp {
  width: 40%;
  height: 6rem;
  text-align: center;
  font-family: "SF UI Text", sans-serif;
  font-size: 0.875rem;
  font-weight: 00;
  color: #3f3f3f;
}

@media (max-width: 1000px) {
  .slider {
    width: 100%;
    height: 15rem;
  }
  .slide {
    width: 25rem;
    height: 15rem;
  }
  .img__descp {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .slide {
    display: none;
    overflow: hide;
    height: 90%;
    margin: 0 10px;
  }
  .slide.active {
    display: block;
    position: relative;
    left: 0;
    transform: translateX(0%);
  }
}
