#nav_bg {
  /* background-color: white; */
  padding-top: 0.2rem;
}
.navbar.active {
  background: black;
}
.main-nav1 {
  display: grid;
  width: 100%;
  height: 6rem;
  padding-bottom: 1rem;
  grid-template-columns: 3rem 1fr 2fr 1fr 3rem;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1008;
  transition: ease-in 0.5s;
  color: black;
}
.main-nav-fix {
  display: grid;
  width: 100%;
  height: 6rem;
  padding-bottom: 1rem;
  grid-template-columns: 3rem 1fr 2fr 1fr 3rem;
  position: fixed;
  z-index: 1008;
  background-color: black;
  opacity: 1;
  box-shadow: 0rem 0.2rem 0.6rem -0.4rem #333333;
  top: 0;
  opacity: 0.95;
  color: white;
  transition: ease-in 0.5s;
}

.logo {
  display: grid;
  grid-column: 1/3;
  padding: 1.4rem;
  padding-left: 0;
  justify-content: center;
  align-items: center;
}

.menu-link {
  grid-column: 3/4;
  color: inherit;
}

#join_button {
  cursor: pointer;
}

.menu-link ul {
  height: 4rem;
  display: flex;
  /* font-size: medium; */
  font-weight: bold;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  color: inherit;
}

.menu-link-item {
  list-style-type: none;
  padding: 0;
  color: inherit;
}
.menu-link-item a:focus {
  color: #026ba1;
}
.menu-link-item a:active {
  color: #026ba1;
}
/* .menu-link-item a{
  color: #026ba1;
} */

.Discussion-forum {
  display: grid;
  grid-column: 4/5;
  justify-content: center;
  align-items: center;
}

.Discussion-forum-button {
  background-color: #f96508;
  margin-left: 8rem;
  /* padding: 0.7rem 2rem; */
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 1rem;
}
.Discussion-forum-button:hover {
  background-color: #ff8e47;
}

.List-menu {
  grid-column: 5/6;
  padding: 1rem;
  display: none;
  font-size: 1.5rem;
  border: none;
  /* background-color: white; */
  justify-content: center;
  align-items: center;
}

.List-menu-icon {
  color: #f96508;
}

.menu-item {
  color: var(--navcolor);
}
.active-page {
  color: #026ba1 !important;
}
.menu-item:hover {
  color: #026ba1;
}

@media (max-width: 68rem) {
  .main-nav-fix {
    color: rgba(51, 51, 51, 0.7);
  }
  .menu-link {
    display: none;
  }
  .main-nav-fix {
    background-color: white;
  }
  .main-nav {
    position: static;
    z-index: 0;
    background-color: white;
    opacity: 1;
    box-shadow: 0rem 0rem 0rem 0rem;
    margin-top: 0rem;
  }
  .mobile-menu-link {
    display: flex;
    justify-content: center;
    grid-row: 2/4;
    grid-column: 1/6;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    display: grid;
    margin-top: -1.2rem;
    margin-left: 0rem;
    transition: all 2s linear;
    transform-origin: top;
    z-index: 10000;
    background-color: white;
    transition: ease-in 10s;
  }
  .Discussion-forum {
    background-color: white;
    grid-row: 4/5;
    grid-column: 1/6;
    z-index: 10000;
    justify-content: center;
    /* margin: 0; */
    padding-bottom: 0;
  }
  .Discussion-forum-button {
    padding: 0.6rem 1.5rem;
  }

  .Discussion-forum-button-list {
    display: none;
  }
  .List-menu {
    display: grid;
  }
  #join_button {
    margin: 0;
    margin-left: 1rem;
  }
  #nav-placements {
    flex-direction: none;
  }
  .menu-link-item {
    padding-bottom: 1rem;
    opacity: 1;
    justify-content: center;
  }
  .logo {
    margin-left: 8rem;
  }
  .menu-item {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    align-content: center;
    color: black;
  }
  .menu-link-ul {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
}
