@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
/** Ultra Light */
@font-face {
    font-family: "San Francisco";
    font-weight: 100;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
  }
  
  /** Thin */
  @font-face {
    font-family: "San Francisco";
    font-weight: 200;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
  }
  
  /** Regular */
  @font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }
  
  /** Medium */
  @font-face {
    font-family: "San Francisco";
    font-weight: 500;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
  }
  
  /** Semi Bold */
  @font-face {
    font-family: "San Francisco";
    font-weight: 600;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
  }
  
  /** Bold */ 
  @font-face {
    font-family: "San Francisco";
    font-weight: 700;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
  }

#campuscontent{
    font-family: "Poppins";
    font-size: 14px;
    line-height: 131%;
    letter-spacing: 0.05em;
}

.carouselimg_cl{
    width: 100%;
    height: 100%;
}

#campuslifep{
    display: flex;
    flex: 0.1;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
}

#campushead{
    font-size: 2rem;
    color: #F96508;
    font-family: Montserrat;
}
#sliderbox_cl{
    width: 40%;
}
#campus_content{
    display: flex;
    flex: 0.5;
    flex-direction: column;
    justify-content: center;
}
#campuscontent{
    width: 110%;
}
.imagescareousl_cl {
    position: relative;
    text-align: center;
    padding-top: 1.8rem;
  }
.imgdis_cl{
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 40%;
  color: #fff;
  font-family: Montserrat;
}
.slick-dots
{
    position: absolute;
    right: 55%;
    bottom: 40%;
    transform: rotate(90deg);
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li button:before{
    font-family: 'slick';
    font-size: 0.9rem;
    line-height: 20px;
    color:#c4c4c4;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #026BA1;
}
@media(max-width: 1100px){
    .slick-dots{
        width: 50%;
    }
    .slick-dots li button:before{
        display: none;
    }
    #campuslifep{
        display: flex;
        flex: 0.1;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        margin-top: 10%;
    }
    .imgdis_cl{
        padding-top: 36%;
    }
    #campushead{
        text-align: center;
        /* padding-bottom: 10%; */
    }
    #sliderbox_cl{
        width: 95%;
    }
    #campuscontent{
        padding: 5%;
        width: auto;
    }

}

