.OutsideCampus__Section {
  margin: 6rem 0 4rem 0;
}

.OutsideCampus__heading {
  margin-bottom: 3.75rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-align: center;
  color: #026ba1;
}

.OC__SubSection {
  padding: 2rem 5rem;
}

.OC__SubHeading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f96508;
}

.OC__SubPara {
  margin: auto;
  max-width: 52rem;
  font-family: SF UI Text;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.125rem;
  text-align: center;
  letter-spacing: 0.05em;
  color: #3f3f3f;
}

@media screen and (max-width: 456px) {
  .OC__SubSection {
    padding: 0 2rem;
  }
}
