@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #33434C;
    text-align: center;
}

.image-holder-studentsForPhd{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 5%;
    margin-top: 20px;
    padding-bottom: 30px;
}

.students_image_container{
  right: 10%;
}

.para-container{
    flex: 50%;
    position: relative;
    max-width: 300px;
    max-height: 1000px;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin-top: 100px;
    right: 30px;

    font-family: SF UI Text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 131%;
/* or 18px */

  letter-spacing: 0.05em;

  color: #3F3F3F;

}

.higherStudiesBargraph{
  width: 100%;
}

@media (max-width: 800px) {
  .image-holder-studentsForPhd{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    right:0%;
    
  }

  .para-container{
    margin-top: 20px;
    text-align: center;
    margin-left: 10%;
  }

  .students_image_container{
    margin-top: 20px;
    margin-left: 10%;
  }

}


