#AboutIITR_heading.MobileView {
  display: none;
}

#AboutIITR {
  box-sizing: border-box;
  max-width: 90%;
  margin: auto;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.954rem;
}

#AboutIITR_image {
  justify-self: start;
  align-self: start;
  position: relative;
  width: fit-content;
}

#AboutIITR_image img {
  position: relative;
  max-width: 40.546rem;
  width: 100%;
}

#AboutIITR_content {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

#AboutIITR_heading {
  position: relative;
  margin-bottom: 1.25rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: #026ba1;
}

#AboutIITR_content_data {
  box-sizing: border-box;
  position: relative;
  max-width: 576px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 131%;
  letter-spacing: 0.05em;
  color: #3f3f3f;
}

@media (max-width: 1000px) {
  #AboutIITR {
    margin-top: 2.625rem;
    padding: 0 1.875rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 3);
    column-gap: none;
    justify-items: center;
  }

  #AboutIITR_heading.MobileView {
    display: block;
    padding: 0;
  }

  #AboutIITR_heading {
    display: none;
  }

  #AboutIITR_image {
    justify-self: center;
    max-width: 60%;
  }

  #AboutIITR_content {
    box-sizing: border-box;
    grid-row: 3;
    justify-self: center;
    max-width: 59%;
    margin-top: 2.563rem;
  }
}

@media (max-width: 750px) {
  #AboutIITR_heading.MobileView {
    font-size: 0.875rem;
    line-height: 1.063rem;
  }

  #AboutIITR_image {
    justify-self: center;
    max-width: 100%;
  }
  #AboutIITR_image img {
    max-width: 300px;
    min-width: 0px;
    aspect-ratio: 300 / 127.39;
  }

  #AboutIITR_content {
    max-width: 100%;
    width: fit-content;
  }

  #AboutIITR_content_data {
    max-width: 300px;
    width: 100%;
    min-width: 0;
    font-size: 0.75rem;
    line-height: 131%;
    letter-spacing: 0.05em;
  }
}

@media (max-width: 320px) {
  #AboutIITR {
    padding: 0 10px;
  }
}
