#aboutbg {
  background: url("./Assets/bg1.svg");
  margin-right: auto;
  margin-left: auto;

  height: 31rem;
  width: 82.5rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1.25rem;
  background-size: 82.5rem 31rem;
}
#about_data {
  /* position: relative; */
  margin-top: 6.5rem;
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 31rem;
}

#about_us_head_tag {
  display: flex;
  justify-content: center;
}

#about_us_head_tag h1 {
  text-align: center;
  width: 100%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 6.5rem;
  line-height: 7.9375rem;
  /* identical to box height */

  color: #ffffff;
}

#about_us_head_data {
  text-align: center;
  width: 100%;

  /* Heading 3 */
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  letter-spacing: -0.02em;
  color: #ffffff;
}
#about_us_head_downsign {
  display: flex;
  justify-content: center;
}
#about_us_head_downsign img {
  left: 4.17%;
  right: 4.17%;
  top: 4.17%;
  bottom: 4.17%;
  margin-top: 7.1875rem;
}

@media screen and (max-width: 900px) {
  #aboutbg {
    margin: 7rem 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 0;
    aspect-ratio: 426.53 / 248;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  #about_data {
    height: 100%;
    background: transparent;
  }
  #about_us_head_downsign img {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 550px) {
  #aboutbg {
    background-repeat: no-repeat;
    background: url("./Assets/bg2.svg");
    max-width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #about_us_head_tag h1 {
    font-size: 1.477rem;
    line-height: 1.813rem;
  }
  #about_us_head_downsign img {
    display: none;
  }

  #about_us_head_data p {
    font-size: 0.25rem;
    line-height: 0.25px;
  }
}
