.BubbleCarousel {
  max-width: 50%;
  width: fit-content;
  display: grid;
  grid-template-columns: fit-content fit-content fit-content;
  grid-template-rows: fit-content fit-content fit-content fit-content;
  row-gap: 1rem;
  columns: 1rem;
  padding: 4rem;
  overflow: hidden;
}

.BubbleCarousel img {
  align-self: center;
  justify-self: center;
  width: 96px;
  max-width: 100%;
  aspect-ratio: 1/1;
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.BubbleCarousel img:nth-of-type(1) {
  width: 130px;
  grid-column-start: 2;
  grid-row-start: 2;
}

.BubbleCarousel img:nth-of-type(2) {
  width: 65px;
  grid-column-start: 4;
  grid-row-start: 1;
}

.BubbleCarousel img:nth-of-type(3) {
  width: 130px;
  grid-column-start: 5;
  grid-row-start: 2;
}

.BubbleCarousel img:nth-of-type(4) {
  grid-column-start: 3;
  grid-row-start: 4;
}

.BubbleCarousel img:nth-of-type(5) {
  grid-column-start: 5;
  grid-row-start: 4;
}

.current {
  transform: scale(2);
  border: 1.5px solid #f96508;
  border-radius: 50%;
  padding: 0px;
}

.BubbleCarousel img:nth-of-type(2).current {
  transform: scale(2.8);
}

.BubbleCarousel img:nth-of-type(1).current,
.BubbleCarousel img:nth-of-type(3).current {
  transform: scale(1.5);
}

@media screen and (max-width: 800px) {
  .BubbleCarousel {
    margin: auto;
    max-width: 500px;
  }
}
