.dropdown {
    
    position: absolute;
    /* top: 200px; */
    list-style: none;
    
    /* bottom: 0; */
    
}
.dropdown-menu {
    position: absolute;
    display: flex;
    height: 6rem;
    width: 7.5rem;
    top: 60px;
    flex-direction: column;
    justify-content: center;
    background: white;
    text-align: center; 
    box-shadow: 0px 1px 1px 1px #F8F8F8;
    opacity: 0.95;
    margin-right: 2rem;
    /* z-index: -90; */
    
}
.dropdown-menu li{
    /* background: white; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dropdown0menu li:hover{
    background: blue;
}
.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    padding-top:2px;

   
}