#SecondSection {
  position: relative;
  width: 100%;
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: stretch;
  /* height: 100vh; */
}

#SecondSectionImage {
  position: relative;
  width: 40%;
}

#SecondSectionContent {
  width: 60%;
  max-width: 45rem;
  margin: auto;
  position: relative;
  justify-content: center;
  align-self: center;
  padding: 3rem;
}

#SecondSectionContent p:nth-of-type(1) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  color: #3f3f3fad;
}

#SecondSectionContent p:nth-of-type(2) {
  font-family: "SF UI Text", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.1rem;
  letter-spacing: 0.05em;
  color: #000000;
}

#SecondSectionContent h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: #026ba1;
}

.WhyIITR__Img3 {
  position: relative;
  top: 10%;
  left: 10%;
  width: 33vw;
  height: auto;
}

.WhyIITR__Img2 {
  position: absolute;
  left: 0%;
  z-index: 1;
  width: 24.3vw;
  height: auto;
}

.WhyIITR__Img1 {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 25vw;
  height: auto;
  z-index: 2;
}

.WhyIITR__Img {
  transition: transform cubic-bezier(0.19, 1, 0.22, 1) 500ms;
}

.WhyIITR__Img:hover {
  transform: scale(1.1);
  z-index: 3;
}

.WhyIITR__Icon {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

.WhyIITR__Icon > div {
  max-width: 7rem;
  text-align: center;
  margin: 0.5rem;
}

.WhyIITR__Icon > div > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #333333;
}

@media screen and (max-width: 900px) and (min-width: 780px) {
  #SecondSectionContent {
    width: 60%;
    max-width: 100%;
  }
  #SecondSectionImage {
    width: 40%;
  }
  .WhyIITR__Icon > div {
    position: relative;
    width: 45%;
    max-width: none;
  }
}

@media screen and (max-width: 780px) {
  #SecondSection {
    flex-direction: column-reverse;
  }
  #SecondSectionImage {
    display: none;
  }
  #SecondSectionContent {
    width: 100%;
  }
}
