
.main-footer {
    display: flex;
    flex-direction: row;
    background-color: #1D1D1F;
}

#footer-quick-links {
    color: #F96508;
    padding-top: 4rem;
    margin-left: 8rem;
}

#footer-quick-links {
    color: #F96508;
    padding-top: 4rem;
    margin-left: 8rem;
}

#footer-academics {
    color: #FEBA10;
    padding-top: 4rem;
    margin-left: 8rem;
}

#footer-life {
    color: #06CA3D;
    padding-top: 4rem;
    margin-left: 8rem;
}

#footer-about-us {
    color: #026BA1;
    padding-top: 4rem;
    margin-left: 8rem;
}


.footer-column {
    list-style-type: none;
    padding-bottom: 4rem;
    padding-left: 8rem;
}

.footer-item {
    color: #FDFDFF;
}

.footer-item:hover {
    color:#FDFDFF;
}

.footer-column-item {
    padding-top:0.5rem;
}

#outreach_logo {
    max-width: 30rem;
    padding-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}

.footer-right-text {
    font-size: 0.8rem;
    color: #FDFDFF;
    padding-top: 1rem;
    padding-left: 8rem;
}

.icons {
    padding-left: 8rem;
    display: flex;
}

.icons img {
    padding-right: 0.5rem;
    width: 80%;
}

#copy-right {
    color: #94989B;
    padding-top:0rem;
}
.flex-item-left {
    flex:25%
}
  
.flex-item-right {
    flex: 50%;
}
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 75rem) {
    .main-footer {
      flex-direction: column;
    }
  }